<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/icon.webp">
    <link rel="stylesheet" href="../static/style.css">
    <title>Essencialmente</title>
</head>
<body>
    <header>
        <div class="logo">
        <img class="logo-img" src="./img/logo.png" alt="">
        </div>
        <div class="header2">
        <div class="opcoes">
            <li>
                <a href="#" class="link-opc">Avaliações</a>
            </li>
            <li>
                <a href="#" class="link-opc">Relatórios</a>
            </li>
            <li>
                <a href="#" class="link-opc">Normas<br>avaliações</a>
            </li>
            <li>
                <a href="#" class="link-opc">Sobre</a>
            </li>
        </div>
        <div class="botao">
            <a href="#" class="botao-link">Entrar</a>
        </div>
        </div>  
    </header>
    <main class="sec1">
            <div class="sec1-conteudo">
                <h2 class="sec1-txt">O acompanhamento de crianças e adolecentes com foco no seu bem-estar!</h2>
                <div class="botao">
                <a href="#" class="botao-link2">Saiba mais</a>
                </div>
            </div>
            <div class="sec1-img">
                <img src="./img/img-main.png" alt="" class="sec1_img">
            </div>
    </main>
    <section class="sec2">
        <div class="titulo">
        <h2 class="sec2_titulo">Avaliações</h2>
        </div>
        <div class="T_cards">
            <li class="sec2_cards">
                <div class="card">
                    <div class="card_img" id="img1">
                    </div>
                    <div class="card_conteudo">
                    <h3 class="card_txt">Avaliação da Antropometria e Composição Corporal</h3>
                    <p class="card_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolorum voluptate, delectus ipsum voluptas at natus architecto, non molestias, saepe voluptates voluptatum cupiditate numquam sit eos quasi officiis doloribus perspiciatis.</p>
                    </div>
                    <a class="card_link" href="#">Avaliar</a>
                </div>
            </li>
            <li class="sec2_cards">
                <div class="card">
                    <div class="card_img" id="img2">
                    </div>
                    <div class="card_conteudo">
                    <h3 class="card_txt">Avaliação IMC</h3>
                    <p class="card_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolorum voluptate, delectus ipsum voluptas at natus architecto, non molestias, saepe voluptates voluptatum cupiditate numquam sit eos quasi officiis doloribus perspiciatis.</p>
                    </div>
                    <a class="card_link" href="bonito">Avaliar</a>
                </div>
            </li>
            <li class="sec2_cards">
                <div class="card">
                    <div class="card_img" id="img3">
                    </div>
                    <div class="card_conteudo">
                    <h3 class="card_txt">Avaliação Abdominal</h3>
                    <p class="card_p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolorum voluptate, delectus ipsum voluptas at natus architecto, non molestias, saepe voluptates voluptatum cupiditate numquam sit eos quasi officiis doloribus perspiciatis.</p>
                    </div>
                    <a class="card_link" href="#">Avaliar</a>
                </div>
            </li>
        </div>
    </section>
    <footer>
        <div class="contato">
            <h2 class="footer-txt">Contato</h2>
                <div class="gap-contatos">
                <a class="contato-txt" href="#"><img src="./img/icon-email.png" alt="" class="contato-icon">
                   <span>essencialmente@gmail.com</span>
                </a>
                </div>
                <div class="gap-contatos">
                <a class="contato-txt" href="#"><img src="./img/icon-home.png" alt="" class="contato-icon">
                    <span>Rua La Sale, 56, Xanxerê - SC</span>
                </a>
                </div>
        </div>
        <div class="sociais">
            <h2 class="footer-txt">Redes Sociais</h2>
            <div class="icon">
            <a href="#"><img src="./img/icon-insta.png" alt="" class="sociais-icon"></a>
            <a href="#"><img src="./img/icon-whats.png" alt="" class="sociais-icon"></a>
            <a href="#"><img src="./img/icon-twitter.png" alt="" class="sociais-icon"></a>
            </div>
        </div>
    </footer>
</body>
</html>